# Исключаем папку с собранными файлами TypeScript
dist/

# Игнорируем файлы настроек редактора и системы
.vscode/
.idea/
node_modules/
npm-debug.log*
yarn-error.log
.DS_Store
Thumbs.db

# Игнорируем временные файлы
*.log
*.tmp
