# исключаем исходники
src/
prisma/

# исключаем тесты
tests/
__tests__/
*.spec.ts
*.test.ts

# исключаем конфиги и лишнее
tsconfig.json
*.prisma
*.env
node_modules/
dist/**/*.map

# опционально
.vscode/
.idea/
.DS_Store
